[2017-05-15 13:00] vyskoczilova opened #1 "the extra charge does not change when I change my mind"
Furthermore, the extra charge does not change when I change my mind and choose for another payment method. For example when I select paypal, it charges 6% extra. This is to cover the sick Paypal transaction costs.

When i change my mind and select another payment method, there’s still the Paypal 6% extra charge visible. When I click on yet another payment method, it follows by adding the previousl

[2017-05-15 13:03] vyskoczilova opened #2 "Surcharges pushed to Paypal as VAT"
See: Surcharges pushed to Paypal as VAT

[2017-05-15 13:04] vyskoczilova opened #3 "Different price for other country"
See: https://wordpress.org/support/topic/different-price-for-other-country/

[2017-05-15 13:13] vyskoczilova opened #4 "Multicurency and fixed rate"
I use multi currency on my website. The percentual rate is not a problem (as it is a mathematic formula based on the checkout price) The fixed rate however does give a problem. It doesn’t get converted, when you switch the page to another currency.
For example: if I enter a fixed surcharge of € 0.25, it will also charge 0.25 in USD or GBP instead of converting it.

See: https://wordpress.org/suppo

[2017-05-15 13:18] vyskoczilova opened #5 "WooCommerce 2.4.8 leads to Server Error 500"
Verify the issue, fixed here: https://wordpress.org/support/topic/woocommerce-248-leads-to-server-error-500/

[2017-05-15 13:24] vyskoczilova opened #6 "No fee after exceeding an amount"
Can remove the fixed value if the price exceeds certain amount?

See: https://wordpress.org/support/topic/fixed-value/#post-9132880

[2017-05-15 14:13] vyskoczilova opened #7 "Disable on free shipping"
See https://github.com/mcguffin/woocommerce-payforpayment/issues/39

[2017-05-15 16:14] vyskoczilova opened #9 "wpml string and version 2.0"
With the new version, i cannot find the string translation in WPML for “Online processing fee”, this did work in 1.x

See: https://wordpress.org/support/topic/wpml-string-and-version-2-0/

[2017-05-16 18:27] vyskoczilova opened #10 "Cannot save the settings"
after saving i do now get not a blank page, but it does not save the changes.

i have set debug to on. but i do not see a debug file in wp-conent,
plus i now have also set display on sceen to true. no error.

any idea?

Post Link: https://wordpress.org/support/topic/cannot-save-the-setting-page-any-more-any-ideas/#post-9133687

[2017-05-18 09:29] stuffo commented on #9
Is this realted to the fact that I can't translate the fee_title string in Polylangs WPML compatibility?

[2017-05-18 15:08] #1 closed

[2017-05-18 15:08] vyskoczilova commented on #1
Can't reproduce, works fine in Storefront theme.

[2017-05-18 15:09] vyskoczilova commented on #5
Minimum required version is 2.6.

[2017-05-18 15:09] #5 closed

[2017-05-18 15:12] vyskoczilova commented on #10
Can't reproduce, @oblaum, let me know, if you can provide more info.

[2017-05-18 15:23] vyskoczilova commented on #9
@stuffo could you let me know, which payment method you can't translate? I will add it into the config file.

The problem is that the WPML parts are based on the WPML config file, so if there is a payment method not listed in the `wpml-config.xml` it makes a problem. I will contact the WPML support, what to do with this issue.

[2017-05-18 15:40] vyskoczilova commented on #4
Try updating wpml-config.xml to:
`<wpml-config>
	<admin-texts>
		<key name="woocommerce_bacs_settings">
			<key name="pay4pay_item_title" />
			<key name="pay4pay_charges_fixed" />
		</key>
		<key name="woocommerce_cheque_settings">
			<key name="pay4pay_item_title" />
			<key name="pay4pay_charges_fixed" />
		</key>
		<key name="woocommerce_cod_settings">
			<key name="pay4pay_item_title" />
			<

[2017-05-18 19:50] stuffo commented on #9
@vyskoczilova
I use stripe (https://wordpress.org/plugins/woocommerce-gateway-stripe/) and Paypal.

Is it possible to make the configured fee_title string translatable instead of using the payment method name? Like setting fee_title to eg. "Payment fee" and than have this string translated.

[2017-05-20 12:10] vyskoczilova commented on #9
@stuffo
I see, I've added hopefully support for Stripe, for Paypal, I would need the settings string (`woocommerce_paypal_settings `are included), could you please download the latest version from this repo and check, if it did work or not?

The problem is, that the setting fee_title is related to the payment method which you use - you can use multiple payment fees for different payment method and

[2017-05-20 12:12] #4 closed

[2017-05-22 09:51] vyskoczilova commented on #7
Fixed in the next update.

[2017-05-22 09:51] #7 closed

[2017-05-23 06:24] oblaum commented on #10
with 2.01 it works. great work karlolina!!!! thank you very very much!!! :) oli

[2017-05-23 07:26] vyskoczilova commented on #10
You're welcome :)

[2017-05-23 07:26] #10 closed

[2017-05-25 08:27] stuffo commented on #9
@vyskoczilova
Just wanted to confirm that everything works like intended now (even with PL). Thanks for the fast reaction and working fix. Keep it up!

[2017-05-25 08:32] vyskoczilova commented on #9
@stuffo  Thanks, that's great! Good luck with your e-shop! However, I would love to know how to solve the issue not manually adding the gateway, we'll see if guys in WPML will show me how to do it properly.

[2017-05-25 08:32] #9 closed

[2017-06-08 11:37] vyskoczilova commented on #2
**Won't fix**
PayPal does not permit charging your customer for using PayPal. This is a legal issue rather than a technical one. See PayPal User Agreement, > “4.6 No Surcharges” for details.

[2017-06-08 11:37] #2 closed

[2017-06-12 19:51] vyskoczilova opened #12 "Notice: Undefined index: woocommerce_cod_pay4pay_tax_class"
Notice: Undefined index: woocommerce_cod_pay4pay_tax_class in /home/ttest/public_html/wordpress/wp-content/plugins/woocommerce-payforpayment-master/admin/class-pay4pay-admin.php on line 257

WC: 3.0.8

[2017-06-21 08:27] vasikgreif opened #13 "$fragment_refresh is not defined"
I'm  getting following error on WC 2.6.14:

`$fragment_refresh is not defined`

Any idea how to fix that one?

[2017-06-21 11:57] diggy commented on #13
Included following fix in a (private) fork of the original repo a while ago:

[code]

[2017-06-22 08:43] vyskoczilova commented on #13
Thanks @diggy, I will merge it to the plugin.

[2017-06-22 08:48] #13 closed

[2017-06-27 16:58] #12 closed

[2017-07-03 12:46] stefankroesbergen opened #14 "Fees disappear"
Hello,

After I enter a fixed fee or percentage and click save, the fees disappear.

can you tell me what to do?

I've installed:
WordPress 4.8
Running PHP version: 5.5.38
Woocommerce 3.1.0

Cheers,
Stefan

[2017-07-03 13:13] vyskoczilova commented on #14
Wierd, yesterday I've tested end everything seems fine. Could you turn on wp debug?

[2017-07-03 20:54] stefankroesbergen commented on #14
[Mon Jul 03 22:41:31.561213 2017] [fcgid:warn] [pid 3526:tid 140118878844672] [client 77.174.178.61:46877] mod_fcgid: stderr: PHP Notice:  wp_register_script was called <strong>incorrectly</strong>. Scripts and styles should not be registered or enqueued until the <code>wp_enqueue_scripts</code>, <code>admin_enqueue_scripts</code>, or <code>login_enqueue_scripts</code> hooks. Please see <a href="h

[2017-07-03 22:44] tomascarlo opened #15 "Fee row does not disappear when I change shipping method"
Suppose I have
- 2 shipping methods, shippingA and shippingB
- 2 payment gateways, cash-on-delivery and paypal.
Suppose that cash-on-delivery is enabled only for shippingA, with 5€ fee.
If I click on shippingA in the checkout page and then select "cash on delivery" as payment gateway, the "fee" row correctly appears.
Now if I select shippingB (**with no changes in gateway selection!**), the fee ro

[2017-07-05 13:35] stefankroesbergen commented on #14
Hello Karolina,

Have you found the issue that might cause the problem?

Cheers,

Stefan

Van: Stefan Kroesbergen <stefankroesbergen@gmail.com>
Datum: maandag 3 juli 2017 10:54 PM
Aan: vyskoczilova/woocommerce-payforpayment <reply@reply.github.com>, vyskoczilova/woocommerce-payforpayment <woocommerce-payforpayment@noreply.github.com>
CC: Author <author@noreply.github.com>
Onderwerp: Re: [vyskoczil

[2017-07-10 13:34] vyskoczilova commented on #14
Hi @stefankroesbergen there is nothing in the WP log which seems to be related to my plugin. There are plenty of notices regarding WP theme or plugins (avia_fb_likebox ) which use incorrectly or old way WP functions.
Check if everything is up to date and try to switch to twenty-seventeen theme and then do plugin conflict debug (turn everything off except WC and enable it one after another and test

[2017-07-12 13:13] diggy opened #17 "cleanup on plugin uninstall"

[2017-07-12 14:23] vyskoczilova commented on #17
@diggy Anything you wanted to say or do?

And if you feel like having a few minutes of spare time, could you check the new WPML filters I have added in the last commit? Two days ago, I made the strings translatable within String translations in WPML, but newly translated strings are not displaying (maybe I've missed something). Otherwise it will wait for a WPML guy.

[2017-07-12 14:27] diggy commented on #17
@vyskoczilova the plugin adds items to gateway settings arrays, so I guess these items should be removed again on plugin uninstall.

I try to avoid WPML as much as possible :) Maybe you should try the `wpml-config.xml` approach? Will be picked up by Polylang as well.

[2017-07-12 14:29] vyskoczilova commented on #15
Hi @tomascarlo, sorry, I was at vacations.
Could you try on WP Twenty seventeen theme? It could be an theme issue, because I'm not able to replicate this myself. And ideally, update to the latest WP and WC.
Thanks and cheers
Karolina

[2017-07-12 14:32] vyskoczilova commented on #17
@diggy  true, when I will have spare time, I will add the remove feature on uninstall (but I'm quite busy throught)

I see, a `wpml-config.xml` approach was used until the latest version, but I want to drop it off cause the problem is that I can't predict which gateways will be available and every gateway which is not present within `wpml-config.xml` is untranslatable. Using WPML filters should fi

[2017-07-24 12:49] michaelrimbach opened #18 "Coupons supported?"
Hi,

what means "Coupons are not supported. (Sorry guys. I tried, but no way.)".
I found it in the github readme, but not in the WP repo plugin description.

Michael

[2017-07-24 17:49] vyskoczilova commented on #18
That means, that it's not currently possible to create a coupon which will affect the payment fee.  Otherwise, they work as they could. That was stated with the previous author and I haven't changed it in this case. If you want to work on it, you're welcomed to fork.

[2017-07-25 08:19] michaelrimbach commented on #18
Thanks!

[2017-07-25 08:19] #18 closed

[2017-07-31 12:46] #14 closed

[2017-07-31 12:46] #15 closed

[2017-09-10 10:40] vyskoczilova opened #19 "Compatibility with WooCommerce Subscription"
**Alfo (@alfonsberger)** see [WP Support forum](https://wordpress.org/support/topic/woocommerce-subscription-7/)

It seems the fee gets added to the recurring amount as well. The strange thing is, even the fee is the same, the total amount of the recurring payment is slightly different as you can see in this [dcreenshot](https://www.dropbox.com/s/qo046fhk71h27rz/Screen%20Shot%202017-08-08%20at%200

[2017-09-10 10:48] vyskoczilova opened #20 "Fatal error Unsupported operand types line 264"
Compatibility with: plugin for the e-boekhouden.nl plugin, it sync’s orders to there system.
https://wordpress.org/support/topic/fatal-error-2621/

[2017-09-12 09:25] DirkjanDikkenberg commented on #10
[Tue Sep 12 10:54:29.165093 2017] [proxy_fcgi:error] [pid 20609:tid 139972132607744] [client 31.161.69.122:50362] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Unsupported operand types in /home/glasweb/domains/glaswebwinkel.nl/public_html/wp-content/plugins/woocommerce-pay-for-payment/inc/class-pay4pay-admin.php:259\nStack trace:\n#0 /home/glasweb/domains/glaswebwinkel.nl/pub

[2017-09-25 06:25] programmerck opened #21 "its breaks Set featured Image"
hi can you please explain why it breaks set featured image in wordpress products featured images area?

[2017-10-15 07:59] kozomelec opened #22 "Wrong sum of the cart"
Hey,

after last update of Woocommerce I found a bug. I have special fee for payment on delivery, in the summary is the price, but the sum of the cart is not correct. What should I do with it?

Screen in attachment.

Thanks
![screenshot_12](https://user-images.githubusercontent.com/31568677/31582879-76b74e7c-b18f-11e7-8236-75a16cb82fd2.png)

[2017-10-17 18:19] xarkitu commented on #22
Hello,

I add many users of the plugin with the same problem.

We are waiting for the author to return for vacation for the last week of October.

Let's hope the problem is solved quickly.

I am trying to find a solution, if I find a solution I will publish it.

Best regards.

[2017-10-17 22:28] xarkitu commented on #22
Hello,

Solution for the problem:

Edit file /plugins/woocommerce-pay-for-payment/woocommerce-payforpayment.php

comment line 50:
 `//add_action( 'woocommerce_calculate_totals' , array($this,'calculate_pay4payment' ) , 99 );`

Add $this->calculate_pay4payment( ); in line 84:
`	function add_pay4payment( $cart ) {
		$this->calculate_pay4payment( );
		if ( ! is_null($this->_fee) ) {
			$cart->add_fee

[2017-10-18 12:18] diggy commented on #3
Not sure if this is something this plugin should handle? There's the `woocommerce_pay4pay_{$current_gateway->id}_amount` filter hook which allows to modify the fee amount based on country, language, ...

[2017-10-18 13:06] #22 closed

[2017-10-19 19:41] gustl opened #24 "Problem with WooCommerce Multilingual"
Hi,
WooCommerce Multilingual calculates the cart multiple times, before and after storing the changed payment method to the session.
After changing the payment method from pay4pay type to non pay4pay type the additional fee is still displayed and added to the calculation.
Possible Fix is to disable caching of _fee and clear it before each call to calculate_pay4payment:
    $this->_fee = NULL;
and

[2017-10-21 14:59] xarkitu opened #25 "The WC_Cart->discount_total argument is deprecated since version 2.3."
The WC_Cart->discount_total argument is deprecated since version 2.3. After tax coupons are no longer supported. For more information see: https://woocommerce.wordpress.com/2014/12/upcoming-coupon-changes-in-woocommerce-2-3/

Solution on line 131 class-pay4pay.php

Change
$calculation_base -= $cart->discount_total + $cart->discount_cart;
for
$calculation_base -= $cart->get_total_discount() + $cart

[2017-10-22 15:43] #25 closed

[2017-10-22 15:44] vyskoczilova commented on #25
@bolint Thanks a lot! I will push it in the next update (coming soon).

[2017-10-22 15:46] vyskoczilova commented on #21
Hi, could you provide more information? Did you use plugin conflict test/switching to Storefront theme? I'm not able to reproduce the issue.

P. S. Sorry for the late answer, I was on holidays.

[2017-10-22 15:48] vyskoczilova commented on #20
https://wordpress.org/support/topic/unsupported-operand-types-2/

[2017-10-22 15:57] vyskoczilova commented on #24
Hi @gustl I will test it in the next couple of days (I have just returned from a vacation) and if it's ok, I will push it in the next release. Thanks a lot!

[2017-10-27 09:27] Musilda commented on #20
Chyba znamená, že když $extra je pole, tak $option pole není. Bylo by třeba zjistit, jak to ten plugin ukládá, nebo zda to není prázdné. To option může být i serialize, tak zkusit použít maybe_unserialize() funkci.

[2017-10-29 17:45] vyskoczilova opened #27 "Negative fee percentage"
i would like to give a discount on a percentage level for one of the payment.
(-10% for paying cash and pickup in store).

i’ve entered in the percentage fee field “-10”, but then it shows “0€” and not the percentage. is it possible?

[2017-10-29 18:22] vyskoczilova commented on #20
@Musilda Díky za tip. To se mi právě nepovedlo, u těc Sisow payments mi to funguje a Mollie payments mne nepustí do nastavení bez API key, takže jsem to nemohla otestovat. Zkusím uživatele poprosit, aby mi poslali var_dump($options) a uvidíme, co tam mají.

[2017-10-29 18:29] vyskoczilova commented on #24
Hi @gustl could you add it as a testable pull request? And as well a step by step manual how to reproduce the issue? I tried, but I can't reproduce it.  Thanks.

[2017-10-29 18:44] #27 closed

[2017-10-29 19:17] vyskoczilova commented on #3
@diggy true, I will keep it as a possible future premium feature, if this is ever to happen ;)

[2017-10-29 19:17] #3 closed

[2017-10-29 21:05] #24 closed

[2017-10-30 18:00] vyskoczilova opened #28 "Fix compatibility with other Tax Classes"
See: https://wordpress.org/support/topic/taxes-not-correct-application/

[2017-11-02 20:02] vyskoczilova opened #29 "Select payments options to enable/disable on"
https://wordpress.org/support/topic/disable-payment-fee-for-other-shipping-method/

[2017-11-02 20:02] #29 closed

[2017-11-03 04:16] calvintam236 opened #30 "PHP warning when coupon applied + percentage fee"
[code]

[2017-11-19 12:01] vyskoczilova opened #31 "No payment fee in “Pay for order” page"
Reported here: https://wordpress.org/support/topic/no-payment-fee-in-pay-for-order-page/
Can't solve for a moment (missing hooks on the Pay for order page).
Feature request here: https://github.com/woocommerce/woocommerce/issues/17794

[2017-11-20 23:58] calvintam236 commented on #30
@vyskoczilova Can you confirm this bug?

[2017-11-21 08:58] vyskoczilova commented on #31
WC reply: https://github.com/woocommerce/woocommerce/issues/17794#event-1349641078

[2017-11-21 08:58] #31 closed

[2017-11-21 08:58] vyskoczilova commented on #28
Tested and everything works properly.

[2017-11-21 08:58] #28 closed

[2017-11-21 08:59] #6 closed

[2017-11-21 09:02] #21 closed

[2017-11-21 09:04] vyskoczilova commented on #30
@calvintam236 I have to test it first and I haven't had time to do it right now (too busy with my customers) if you'll fix it feel free to create a pull request. Thanks for understanding.

[2018-02-09 09:02] davdebcom commented on #20
Should be fixed with this pull request:
https://github.com/vyskoczilova/woocommerce-payforpayment/pull/33

[2018-02-10 15:29] vyskoczilova commented on #20
Fixed with plugin version 2.0.7 which have been just now released in WP repository.

[2018-02-10 15:29] #20 closed

[2018-02-19 09:15] vyskoczilova commented on #19
here is a possible solution:
https://docs.woocommerce.com/document/subscriptions/develop/recurring-cart-fees/

thanks to: felipon from https://wordpress.org/support/topic/woocommerce-subscription-7/#post-9988689

[2018-03-03 19:51] Jimmi08 opened #34 "otázka k prekladu"
Mám otázku k prekladu do češtiny:
Inclusive Taxes  - bez DPH
The payment fee is inclusive of taxes. - Poplatek zahrnuje i DPH.
- to si nejako odporuje.

To prvé by malo byť Vrátane DPH, či?
Ďakujem

[2018-04-28 12:39] bence-takacs opened #35 "error when implementing filter "woocommerce_pay4pay_{$current_gateway->id}_amount": $calculation_base==0"
I needed to create a range-based variable COD fee, and the code gives the opportunity to do this:
`$cost = apply_filters( "woocommerce_pay4pay_{$current_gateway->id}_amount", $cost, $calculation_base, $current_gateway, $taxable, $include_taxes, $tax_class );`
https://github.com/vyskoczilova/woocommerce-payforpayment/blob/master/inc/class-pay4pay.php#L193

But:

[code]

says that the "calculation_b

[2018-05-03 08:28] vyskoczilova commented on #34
Díky za upozornění, přesouvám překlad na WP.org, už je to tam opravené.

[2018-05-03 08:28] #34 closed

[2018-05-03 09:01] vyskoczilova commented on #35
Hi @bence-takacs,

thanks for your interest. If you navigate few lines up you will discover that $calculation_base if used for percentage fees: https://github.com/vyskoczilova/woocommerce-payforpayment/blob/master/inc/class-pay4pay.php#L125. You need to grab the subtotal first and then check it. Try this code:

[code]

I think I will add it to the documentation you are not the first having this ki

[2018-05-03 11:20] vyskoczilova opened #36 "Just a question thou: why is this `%s %% of cart totals` twices a % ?"
Just a question thou: why is this `%s %% of cart totals` twices a % ? (SLACK)

[2018-05-05 13:25] #35 closed

[2018-05-05 13:28] vyskoczilova commented on #36
It's alright,  % is the placeholder for % sign.

[2018-05-05 13:28] #36 closed

[2018-05-06 10:39] bence-takacs commented on #35
Thanks, so $calculation_base is not $subtotal, and I misused '.' also :-)

This works:

[code]

[2018-06-20 18:19] wongym111 opened #37 "Can’t work with stripe in multi currency"
Hi I find it can works with only one currency tighter with stripe. Please see what’s wrong with it

[2018-07-11 08:19] Statuspm opened #38 "Hi the plugin give to me these error..."
1. Name of the payment method you are trying to save and the URL where it can be downloaded for testing.

	2. Current section ID: wc_cetelem

	3. Anything else might be helpful (recently added/updated plugins, etc.).

[2018-07-12 10:07] vyskoczilova opened #39 "Extracharge only for selected types..."
Hi nice plugin, is it possible if I can enable extra charge only on specific products? using product id, tag or brand.any help will be appreciated

https://wordpress.org/support/topic/enable-only-for-specific-product-idstags-or-brands/#post-10486935

[2018-07-12 10:07] #39 closed

[2018-07-12 10:08] vyskoczilova opened #40 "Custom description when fee showed"
I want to change payment gateway description when your plugin is enabled.
https://wordpress.org/support/topic/enable-only-for-specific-product-idstags-or-brands/#post-10486935

[2018-07-12 10:08] #40 closed

[2018-07-12 10:11] vyskoczilova commented on #38
Hi, It looks like the payment gateway is not coded the standard WC way. Could you share me the link to the plugin you are trying to use together with WooCommerce Pay for Payment? I will do some tests and include the fix.

The best would be if you could share with me a testing site or a Duplicator package so I could test myself and don't losing time with setup the payment method.

Thanks a lot!

[2018-10-02 08:35] vyskoczilova opened #41 "Fixed charge per product"
https://wordpress.org/support/topic/fixed-charge-per-product/

[2018-11-13 18:52] vyskoczilova opened #42 "WPML better integration"
Better integration for WPML - easier to set up different prices for different currencies if WPML for WooCommerce is active.

[2018-11-13 18:52] #42 closed

[2018-11-27 19:14] RomanHodulak opened #43 "Multi-currency doesn't work on gateway cost"
Hello, I'm using this plugin on a site with multiple languages and currencies. The problem is that the plugin does not convert the cost of the payment gateway (I'm using WooCommerce default COD gateway) nor the "cod - charges fixed" translation string. It only works with the [FIXED_AMOUNT] in the $fee_title, but not the actual cost (so if I set fixed cost to be "39", the COD is always 39, 39 Kč in

[2018-11-28 08:48] vyskoczilova commented on #43
Hi @RomanHodulak the fee should be translatable via string translation (I know this is not an ideal solution), could you check?

Karolina

[2018-11-28 10:09] RomanHodulak commented on #43
Hi Karolina, thank you for a quick reaction. Looks like I've figured it out this morning but it's quite weird.

1. I had to go to WPML String Translations -> Translate admin strings
2. Click "woocommerce_cod_settings" and manually enable option "pay4pay_charges_fixed"
![screenshot_2018-11-28 string translation led light shoes - ledfashion top quality brand led light shoes wordpress](https://user-i

[2018-11-29 14:55] vyskoczilova commented on #43
Hi Roman, I see, thanks for providing detailed info. I will have a look and get back to you with a fix in the upcoming days (probably next week since I'm too busy at the moment).

[2018-11-30 13:38] #37 closed

[2018-11-30 13:38] #38 closed

[2019-01-25 15:12] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2019-01-25 15:13] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2019-03-01 16:02] vyskoczilova commented on #43
Howdy my dear bot, I'll have a look on it later, I promise.

[2019-03-28 17:43] Destabilizator commented on #43
I've run into this issue as well, any ETA on fix?

[2019-04-26 08:45] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2019-04-26 08:45] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2019-04-26 11:10] illycz opened #46 "Completely disable this functionality for some payments"
I have implemented CSOB paymentgateway and within you plugin it's not working.
Is it possible completely remove payforpayment functionality for some payments?

This notices from admin maybe help why:

[code]

Thanks

[2019-04-26 19:54] vyskoczilova commented on #46
Hi, what's your setting page name in the WP admin? My plugin checks for types:

- woocommerce_{class_id}_settings
- {class_id}_settings

If nothing is matched it should die with a notice.

[2019-04-29 08:06] illycz commented on #46
Sorry Karolina,
my mistake, it wasn't a problem within your plugin.

[2019-04-29 08:06] #46 closed

[2019-06-30 15:05] vyskoczilova commented on #43
Howdy my dear bot, I'll have a look on it later, I promise. ¨

@Destabilizator I'll plan it for summer. There were some ongoing changes on WPML side and I wanted to wait for them. I'll keep you updated.

[2019-07-27 07:40] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2019-07-27 07:41] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2019-08-01 16:45] humblet commented on #43
Also looking forward for fix, used the admin string at the moment 👍

[2019-08-07 18:51] vyskoczilova commented on #43
Thanks, guys, I'm terribly busy, but keeping track on it. If you have time and could offer me a helping hand with a PR, I'm more than glad to review it :)

[2019-08-19 10:11] Padi142 opened #47 "Can't change setting"
Hey! Iam using Pay for payments plugin on Wordpress version 5.2.2 and I have a problem. Whenever I try to change any settings in the plugin (including the fee itself) it resets to default (the fee being 0)  after pressing Save changes button. Any ideas how to fix this? Thanks

[2019-08-28 17:43] vyskoczilova commented on #47
Hi @Padi142 Fixed with Fix WC 3.7.0 saving error commit and solved in version 2.0.13 ready for download in WP repository. Sorry for taking it too long, I was on holidays.

[2019-08-28 17:43] #47 closed

[2019-09-26 15:56] vyskoczilova opened #48 "Lot of queries"
https://wordpress.org/support/topic/lot-of-queries-issues/

When I activate this plugin, the number of queries increases a lot (and also, there are a few duplicate queries).

Before activating: https://i.gyazo.com/a4195963f9bd8f320eba81d000c8e08a.png

After activating:
https://i.gyazo.com/633053d556be147983db7fa1396ecf41.png
(Duplicate queries)
https://i.gyazo.com/f3784c738ed5a8a64cf66525db9cfb2b.

[2019-10-25 09:45] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2019-10-25 09:46] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2019-11-06 15:39] vyskoczilova commented on #43
I'll get back to it, I promise.

[2019-12-04 17:21] sirdaiz opened #49 "Doesnt works wordpress 2.6"
I have installed in the last version on wordpress(2.6) and I don't see the finish purchase tab

[2019-12-04 18:09] vyskoczilova commented on #49
With WordPress 2.6? That's a pretty old one.

[2019-12-04 18:17] sirdaiz commented on #49
Sorry, my wrong, is the WordPress 5.3

[2019-12-20 18:45] soyniqolas opened #50 "How to get Gateway Fee from PHP?"
I'm modifying the price.php template to show prices with gateway fees.

How can I get a gateway fee from PHP?

For example:
`pay4pay_get_fee($gateway_name); `

(Should return the fee or something similar)
Or maybe input the price and gateway and output all formated price.

[2019-12-23 14:33] vyskoczilova commented on #50
Hi, you need to use `get_option()` WP function. check the DB for the exact option name (the easies is too look for the name of your fee or the cost and you'll find it) :)

[2019-12-23 14:33] #50 closed

[2020-01-26 10:40] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2020-01-26 10:40] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2020-01-30 12:49] #49 closed

[2020-01-30 12:52] vyskoczilova opened #52 "Compatibility with WooCommerce Checkout Field Editor Pro"
**Description**

We have a checkout manager plugin (WooCommerce Checkout Field Editor) that can charge a fee whenever a certain option field is selected and that fee is then nicely added to the checkout total and its value can be retrieved using “WC()->cart->fee_total” or “WC()->cart->get_fee_total()”, which we need for a custom payment module.

However, when Pay for Payment is active, the variabl

[2020-02-06 20:05] vyskoczilova commented on #43
I'll get back to it, I promise.

[2020-04-20 10:59] vyskoczilova opened #53 "Show Fee in Payment Method Title"
More details here: https://wordpress.org/support/topic/show-fee-in-payment-method-title/#post-12700862

[2020-04-27 12:11] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2020-04-27 12:11] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2020-05-07 08:44] vyskoczilova commented on #43
I'll get back to it, I promise.

[2020-05-11 11:13] Marian-Kechlibar opened #54 "VAT on fees"
Hello,

there is a small nuance in the VAT for delivery fee payment that reflects differences in tax classes.

Namely, the correct VAT class for shipping and other side fees cannot really be determined without knowledge of the cart content. If you sell books (VAT 10 % in Czechia), the VAT class for a book order should be 10 %, but if you sells books AND audiobooks (VAT 21 % in Czechia), the VAT cl

[2020-05-11 11:20] vyskoczilova commented on #54
Hi Marian,
I see, but there are other countries where it works differently. If you had a fix, could you share it here, I will build it into the plugin or at least to make it available for others as a snippet?
Karolina

[2020-05-11 11:26] Marian-Kechlibar commented on #54
I believe that this is true EU-wide, as the following judgments of the EU courts apply:

_C-41/04 Levob Verzekeringen  BV a  O V  Bank  NV_

_Finanzamt Burgdorf proti Manfred Bog (C-497/09), CinemaxX Entertainment GmbH & Co. KG proti Finanzamt Hamburg-Barmbek-Uhlenhorst (C-499/09), Lothar Lohmeyer proti Finanzamt Minden (C-501/09) a Fleischerei Nier GmbH & Co. KG proti Finanzamt Detmold (C-502/09)

[2020-05-11 11:38] Marian-Kechlibar commented on #54
BTW, there seems to be a built-in WooCommerce method that determines the correct VAT bracket.
When I look up this:

https://docs.woocommerce.com/document/setting-up-eu-vat-rates-for-digital-products/

I can see an option "Shipping tax class based on basket items".

https://jeroensormani.com/guide-shipping-taxes-woocommerce/

So it is probably enough to use this option from WooCommerce.

[2020-05-11 11:39] Marian-Kechlibar commented on #54
In Czech: Daňová sazba dopravy podle položek košíku

[2020-05-13 13:13] #52 closed

[2020-05-19 11:18] vyskoczilova commented on #54
Hi Marian-Kechlibar, thanks, I'll have a look at it. I've taken over the plugin couple of years ago and you're the very first one having this issue. Maybe I could add an option "Based on products in the cart", but I need to dig into WooCommerce :) However, really thanks for sharing, it solved me a lot of time.

[2020-05-19 11:45] Marian-Kechlibar commented on #54
Hi,
I dug around a bit and the corresponding class of VAT is 'inherited', but I did not find any information nor example how to use it.
If you are successful, please let me know. I am currently messing around with a plugin that produces Pohoda-compatible invoices in XML and this is a major obstacle. It can be solved by messy code, but doing so neatly would be better.

[2020-06-07 00:42] mrleonz opened #55 "Not adding fee (BUG)"
Dear,

There is a small bug what i found.

In the checkout page I choose the payment method without fee.
then I come to a payment platform. I click back for another payment method.
then I press a payment method with fee.
the fee is not calculated
( the payment page is different then normal)

I hope this is possible to solve :)

thanks in advance!

[2020-06-08 11:57] vyskoczilova commented on #55
Hi, I'm sorry, this is a known bug of WooCommerce and its limitation is described on the plugin page - it doesn't work on "Pay for order" pages (manually created orders or canceled payments).

See it here: https://github.com/woocommerce/woocommerce/issues/17794

[2020-06-08 11:57] #55 closed

[2020-07-26 12:30] vyskoczilova commented on #17
Hey bot, I know about the issue, I will have a look on it later.

[2020-07-26 12:30] vyskoczilova commented on #30
Hey bot, I know about the issue, I will have a look on it later.

[2020-08-11 14:01] thierrydev opened #56 "Plugin Settings enhancements"
I came across your plugin at work and while it's very nice to offer this functionality, I think you are missing a few critical functionalities, I encourage you to take the following steps to make life easier for others.

I had to modify the plugin's code to exclude my plugin from any modifications and that was quite annoying and unnecessary.

- Add proper settings page
- Add setting to exclude for

[2020-08-11 14:22] vyskoczilova commented on #56
Hi @thierrydev,

could you be more specific?

What do you mean by "Add proper settings page"? Since the fee is related to the payment gateways, the settings are extending the gateway. What you miss or what you'd like to have on a settings page?

I'm not sure what do you want to achieve with excluding payment methods in the settings. In the very first place, if you haven't activated the fee for a g

[2020-08-11 15:44] thierrydev commented on #56
Hello thanks for your quick reply

I will submit a PR with the quickest way to solve this when I have time.

For the long term I suggest that you look into inserting and querying the fees from the DB instead of doing all the changes "live"

Add a layer between the gateways and the settings by storing the fees in the database instead of doing live changes.

[2020-08-11 16:37] vyskoczilova commented on #56
Hi, I'm really keen to see, what do you mean by that since I'm still bit lost which part is the problematic one.

The plugin is using standard WC_Fee and it's integrations. So in long term, this should be a safe and sustainable way to do it, since it's recommended.

[2020-09-05 19:16] #54 closed

[2020-11-15 20:06] #56 closed

[2020-11-21 07:13] #17 closed

[2020-11-21 07:13] #30 closed

[2021-03-22 16:35] vyskoczilova opened #57 "Full support of negative amounts"
Works fine except min. & max. amounts with a percentage fee.
Reported by Lukas Rubes (lukas@rubes.cz)

[2021-03-27 08:19] stonedfox-finance opened #58 "Problem when applying extra cost - VAT does not update"
Hello,

We are testing the plugin on our test page http://anubissolutions.es/marmolina/finalizar-compra/ and we have seen that the extra costs always apply to the total, but not always to the tax of the total calculated.

By this I mean, if a payment is made that decreases the total, for example paying with "direct bank transfer" if both the total and the total VAT are updated (below the total cos

[2021-04-11 20:35] IT-Economy opened #59 "ApplePay and GooglePay one-button checkout does not include fees (Stripe)"
When using the ApplePay or GooglePay one-click-buttons to checkout, rather than the separate checkout page of woocommerce, the fees are not included.

GooglePay Checkout without any fees added:

![image](https://user-images.githubusercontent.com/77216388/114320335-cf54ed00-9b15-11eb-9d3e-02760e119e75.png)

If you go to the checkout page, select paypal (which has added payment fees) and then go pac

[2021-04-14 10:58] vyskoczilova commented on #59
The plugin doesn't support the buttons yet, but I'm open to adding it as a custom feature (especially if you could support the development). What do you use for these buttons (which plugins)?

Otherwise - fees are added in checkout.

Karolina

[2021-04-14 15:57] IT-Economy commented on #59
Hello Karolina

Thanks for the reply.

It is the official Stripe Woocommerce plugin: https://de.wordpress.org/plugins/woocommerce-gateway-stripe/

You can open a free account with www.stripe.com and make test payments.

That's the problem: With ApplePay and GooglePay, there is no checkout. You can order a product with only one click directly from the product page or on the cart page. The checkout-

[2021-04-15 14:06] vyskoczilova commented on #59
Hi @IT-Economy, you're welcome. Yeah, I know that there is no checkout with AP and GP, but I haven't used it myself and thus had no chance to spot it. Would you have a budget to support this feature?

[2021-04-15 15:10] IT-Economy commented on #59
Sure, I could sponsor 100$ towards the development.

Best Regards!
Chris

[2021-04-15 16:52] vyskoczilova commented on #59
@IT-Economy That sounds fair :) Thanks. I'll have a look at it next week and let you know.

[2021-06-05 12:21] Dev-2021 opened #60 "exclude product rule"
Hello Karolina,
Thank you for the awesome plugin.

is it possible to add functionality to create rules to exclude product(s) from applying payment fees?

I'm willing to pay for the modification.

[2021-06-09 09:50] vyskoczilova commented on #60
Hi! @Dev-2021 you could do that already with filters - just check the cards for IDs and apply or not apply the fee have a look at it here: https://github.com/vyskoczilova/woocommerce-payforpayment#filter-woocommerce_pay4pay_apply

If you need a few lines of custom codes, drop me a message at karolina@kybernaut.cz and I'm happy (yet busy) to help :)

[2021-07-23 07:28] xarkitu opened #63 "Error on PHP8 -> Unsupported operand types: string + float"
Hi,

I am encountering a recurring error in your plugin that is causing you to lose sales by generating this error in the cart:

PHP Fatal error: Uncaught TypeError: Unsupported operand types: string + float in /wp-content/plugins/woocommerce-pay-for-payment/inc/class-pay4pay.php:173

I have been able to fix it by forcing the values ​​to both be of type float as I show here:

[code]

I would be gr

[2021-07-23 08:26] vyskoczilova commented on #63
Hi @xarkitu, thanks for letting me know and sorry for the late reply - I was on holiday.  I'll have a look at it later, if you could submit a pull request I'm more than glad to merge it :) Thanks!
Karolina

[2021-07-30 10:35] vyskoczilova commented on #63
Fixed in the 2.1.0 release.

[2021-07-30 10:35] #63 closed

[2022-02-23 09:29] Netherworld1 opened #66 "Current Version does not work with Stripe"
Name of the article says it all, the Current Version does not work correctly with Stripe. Needs to be updated.

My page is charging 3% from a previous working version, however I am unable to edit this amount anymore, as the fields do not exist to edit under the Payments section of WooCommerce.

[2022-02-23 10:07] vyskoczilova commented on #66
Hi, @Netherworld1 I'll have a look at it as soon as I have time. Could you send me the link to the Stripe plugin and let me know the version that is having a problem?

And in meanwhile, please downgrade to the latest working version or test another Stripe plugin.

[2022-02-23 10:40] vyskoczilova commented on #66
Could you send me the link to download, please? There are a couple of similarly named plugins out there.

[2022-02-23 10:55] Netherworld1 commented on #66
https://wordpress.org/plugins/woocommerce-gateway-stripe/

https://downloads.wordpress.org/plugin/woocommerce-gateway-stripe.6.2.0.zip

[2022-03-09 10:23] vyskoczilova opened #67 "PHP 8.0 / 8.1 PHP–FPM compatibility"
We noticed problems when implementing php8 or 8.1 on the plugin, we wanted to know if an update is being worked on for this purpose

` AH01071: Got error ‘PHP message: PHP Warning: Trying to access array offset on value of type null in /srv/services/vg-nvme/Hosting/mundogeek.com.ar/http-web/wp-content/plugins/woocommerce-pay-for-payment/inc/class-pay4pay.php on line 121PHP message: PHP Warning: Tr

[2022-03-21 09:53] vyskoczilova commented on #66
Hi, sorry, it took me quite a long, but I still don't have any better solution than using [Payment Plugins for Stripe WooCommerce](https://wordpress.org/plugins/woo-stripe-payment/) instead for now.

They've revamped settings into React and the old hook doesn't work any longer. I'll try to contact them, but currently no fix :(

[2022-03-21 09:58] vyskoczilova commented on #67
Hi, thanks for reporting, it’s not a problem with PHP8 compatibility. The value shouldn’t be null in the very first place – it should be the shipping method used for the order.

Do you have a selected shipping method? I can’t find it on the listed page. Does it mean, you have only one setup?

Thanks!

[2022-04-17 03:53] Netherworld1 commented on #66
Hello, since you still don't have a fix; Can you please explain how to edit the value manually via PHPMYADMIN? I tried looking myself, but couldn't find it. I really need to raise the value from 3% asap.

[2022-04-19 08:55] vyskoczilova commented on #66
Hi @Netherworld1 I'm sorry, but nobody responded from [WooCommerce Gateway Stripe plugin (you can pop into the issue)](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2330), I've been just told to open an issue so it's a month and I'm waiting.

Search for %pay4pay_enable_extra_fees% in DB and you should get them all. The other titles are here: https://github.com/vyskoczilova/wooco

[2022-07-13 08:37] AlexWebLab commented on #66
I think I found it. It seems to be: pay4pay_charges_percentage

[2022-08-19 16:30] Noiz87 opened #68 "Klarna Payment don't show the fee on the checkout"
I found this bug when I pay with klarna, no fee appears on the checkout page, but it appears correct on the Klarna payment page.
![Screenshot (18)](https://user-images.githubusercontent.com/84714698/185664977-a63a9200-c9ad-4690-9802-ac0e5428fb36.png)
![Screenshot (19)](https://user-images.githubusercontent.com/84714698/185664982-07d7063f-faed-4166-b3dc-0291f49c9c9a.png)

[2022-08-22 13:05] vyskoczilova commented on #68
Hi, thenks for reporting, I'm currently on study leave so not able to jump straight in, but:

- where exactly you can't see the fees? on the WP site or somewhere in Klarna?
- does it work for other payment methods you have on your site?

If Klarna is the answer to the first question and the rest of the methods work, it looks like it's an issue with the Klarna plugin - not being fully compatible wi

[2022-10-24 13:32] JoeyMacHelp opened #69 "Fee doesn't get charges when switching payment providers"
When a customer selects a payment provider with for example no charge fee, cancels the payment and then selects a payment with charge fee, the fee does not get added to the checkout price.

In our case, we have iDeal (dutch payment solution), which has no additional fee to it, and a bank transfer who handles a fee of 2%.
If the client first chooses iDeal to pay, cancels the payment there, and gets

[2022-10-24 14:53] vyskoczilova commented on #69
Hi, this is an unfortunately well-known problem of WooCommerce described on [the plugin page](https://wordpress.org/plugins/woocommerce-pay-for-payment/):